[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Discord
Comment=Chatting platform
Exec=/usr/share/discord/Discord
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

